<header>
  <h1><%= make.name %></h1>

  <%= link_to '< Voltar', root_path, class: 'btn btn-xs btn-default' %>
</header>

<div class="row">
  <div class="col-md-6">
    <ul class="models-box">
      <% models.each do |model| %>
        <li><%= model.name %></li>
      <% end %>
    </ul>
  </div>
</div>
